{% extends 'base.html.twig' %}

{% block body %}
<div class="card">
  <img src="https://images.chickadvisor.com/item/112247/original/1b4bfe193029c411389cfce7ca105e81.jpg" alt="Avatar" style="width:100px">
  <div class="container">
    <h4><b>article1</b></h4>
     <form method="post">
   <a href=""> <button name='passer_commande'>passer la commande</button></a>
    </form>
  </div>
</div>

{% endblock %}
